
@media (max-width: 991px){
    .ai-img{
        width: 120%;
    }
}
@media(min-width:991px){
    .ai-img{
        width: 60%;
    }
}
@media (max-width: 991px){
    .nav-height{
        width: 50%;
    }
    .school-herf{
        --bs-row-cols: 2;
    }
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        font-size: 220%; /* 在小屏幕上展开时的字体大小 */
    }
    .font-change{
        font-size: 200% !important;
    }
    
}
@media(min-width:991px){
    .nav-height{
        width: 20%;
    }
}

.container-md{
    padding-top: 3%;
    padding-bottom: 3%;
    overflow: hidden; 
}
/* .container {
  width: 1080px; 
  max-width: 100%;
} */
.title{
    padding-left: 5%;
    padding-right: 5%;
}
.nav-link{
    font-weight: bold;
    font-size: larger;
}

.transparent-bg {
    background-color: transparent !important;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in-on-load {
    animation: fadeIn 1s ease-in-out forwards;
}
.navbar {
    position: fixed;  /* 导航栏固定在顶部 */
    top: 0;           /* 从顶部开始 */
    left: 0;          /* 从左边开始 */
    width: 100%;      /* 跨越整个视口的宽度 */
    z-index: 1000;    /* 确保导航栏在其他元素之上 */
    transition: background-color 0.5s ease;
    justify-content: space-between;

}
.navbar-toggler {
    margin-left: auto; /* 在小屏幕上使按钮右对齐 */
    margin-top: -13%;
}
@keyframes slideDownFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
        
    }
    to {
        transform: translateY(0);
        opacity: 1;
        
    }
}

.fade-in-slide-down {
    animation: slideDownFadeIn 0.3s ease-in-out forwards;
}

.navbar.custom-navbar{
    transition: background-color 0.5s ease;
}


.bg-image1{
    background-image: url("img/message_dbg.png");
    background-size: cover; 
    background-position: center; 
    height: 100vh; padding-top:0%;
}
.bg-image{
    background-image:url('img/ca12c12c-b675-4b68-b594-f02bed48c3c1.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; padding-top:0%;
}
.shadow-on {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);  
}
.container{
    padding-top: 3%;
    padding-bottom: 3%;
}
.divider-row{
    background-color: #999;
    margin-top: 5%;
    height: 2px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
}
.introduce-r{
    padding-left: 15%;
    padding-top: 2%;
}
.introduce-text{
    padding-top: 10%;
}
.container-grey{
    background-color:#b8b8b8 !important;
    width: 100%;
}
.divider-row-white{
    background-color: #ffffff;
    margin-top: 5%;
    height: 2px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-fade-in {
    opacity: 1;
    
    transition: opacity 1.3s
}
.shadow{
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.1);
    background-size: cover;
    background-position: center; 
    background-color: #ffffff;
    
    
}
.schoolimg{
    height: 90%;
    width: 90%;
    padding: 5%;
    padding-left: auto;
    padding-right: auto;
}
.container-bottom{
    padding: 1%;
}
.animate-on-scroll:not(.img-fade-in) {
    opacity: 0;
   
    transition: none;  /* 初始状态不需要过渡效果 */
}
.keephigh{
    height: 2vh;
}

