.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.btn:focus {
    outline: none;
}
.news_announcement {
  padding-bottom: 10px;
}
.news {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  position: relative;
  padding-left: 20px;
}
.el-col {
  min-width: 200px;
  padding-left: 0!important;
  display: flex;
}
.el-col-20 {
  width: 83.33333%;
}
el-row {
  box-sizing: border-box;
}.my-element::before {
  content: "";
}
.my-element::after {
  content: "";
}
.english {
  color: gray;
  font-size: 18px;
  margin-bottom: 0;
}
.b-h{
  color: #666;
  font-size: 20px;
}
/* .carousel {
  position: relative;
  overflow: hidden;
  height: 188px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
}

.carousel-item img {
  position: absolute;
  left: 50%;
  max-width: 380px;
  max-height: 156px;
  transform: translateX(-50%);
}

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-item.active img {
  max-width: 458px;
  max-height: 188px;
  transform: translateX(-50%) translateY(-16px);
}

.carousel-item.next img,
.carousel-item.prev img {
  max-width: 380px;
  max-height: 156px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.carousel {
      position: relative;
    overflow: hidden;
    height: 188px;
    margin-top: 58px;
  } */



  body {
    background-color: #f5f5f5;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    height: 300px;
    width: 100%;
  }
  .carousel-item side {
    height: 250px;
    width: 100%;
  }
  
  /* .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
  } */
  
  .carousel-indicators li {
    background-color: gray;
  }
  
  .carousel-indicators .active {
    background-color: black;
  }


  #carouselExampleIndicators1 .carousel-item img,
  #carouselExampleIndicators3 .carousel-item img {
      height: 250px;  /* Change this value to the desired height */
      width: 600px;  /* This will preserve the aspect ratio */
      object-fit: cover;  /* This will cover the box with the image */
      opacity: 0.6;
  }
  


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .card-wrapper {
max-width: 300px;
}
  .card-wrapper{
  font-size: small;
}
/* .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item img {
  transition: width 0.5s, height 0.5s;
}
#carouselExample .carousel-inner .carousel-item {
  transition: transform 1s ease-in-out;
}
#carouselExample .carousel-inner .carousel-item.active {
  transform: scale(1);
  z-index: 2;
}
#carouselExample .carousel-inner .carousel-item-next,
#carouselExample .carousel-inner .carousel-item-prev {
  transform: scale(0.8);
  z-index: 1;
}
#carouselExample .carousel-inner .carousel-item-next img,
#carouselExample .carousel-inner .carousel-item-prev img {
  width: 100%;
  height: auto;
}
#carouselExample .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
} */
.dynamic-box {
  font-size: 32px;
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container {
  max-width: 1200px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: stretch;
}
.card {
  height: 100%;
} */
/* .company-profile{
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
.el-row {
  box-sizing: border-box;
}
.el-row {
  box-sizing: border-box;
}
[class*=el-col-] {
  float: left;
  box-sizing: border-box;
}
.el-card{
  height: 450px;
}
.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover, .el-cascader__dropdown, .el-color-picker__panel, .el-message-box, .el-notification {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-card {
  height: 540px;
  margin-bottom: 20px;
}
.el-card {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: .3s;
}
.el-card__body {
  padding: 13px!important;
}
.el-card__body, .el-main {
  padding: 20px;
}
.grid-children__box{
  background-color: #fff;
  opacity: .6;
  font-size: 10px;
  font-family: 微软雅黑,sans-serif;
  color: #999;
  line-height: 20px;
}
.el-card {
  height: 200px;
} */
/* .container {
  padding-left: 20px;
  padding-right: 20px;
} */
.card {
  height: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-body > img {
  flex-shrink: 0;
}
.card-body > div {
  flex-grow: 1;
}
.more{
  border: 1px solid #dfdbdb;
  font-family: 微软雅黑,sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 20px;
  bottom: 10px;
  border-radius: 2px;
  text-decoration: none;
  padding: 5px 8px;
  display: flex;
  width: fit-content;
}
.card-text{
  font-family: 微软雅黑,sans-serif;
  font-size: 10px;
  text-indent: 2em;
  margin-top: 0%;
  margin-bottom: 10%;
  color: #999;
}
.row{
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.container-profile{
  margin-left:10%;
  margin-right: 10%;
}
.img-box{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  
}
.img-box img{
  height: 180px;
  width: 100%;
}
.card.is-always-shadow{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.card-title{
  margin: 1%;
}
.container-aboutus{
  margin-left:10%;
  margin-right: 10%;
}
.num{
  color: #fff;
  text-align: center;
}
.row-aboutus{
  padding-top: 5%;
}
.divider{
  background-color: #fff;
  margin-top: 10px;
  height: 50px;
  display: inline-block;
  width: 1px;
  margin-left: 50%;
}
.img-box2 img{
  height: 260px;
  width: 100%;
}
.titlep{
  font-size: 16px;
  font-family: 微软雅黑,sans-serif;
}
.container-news{
  margin-left:10%;
  margin-right: 10%;
}
.divider-news{
  background-color: #999;
  margin-top: 10px;
  height: 12px;
  display: inline-block;
  width: 1px;
}
.contentp{
  font-weight: 400;
  margin-top: 0;
  font-size: 14px;
  text-align: left!important;
  line-height: 18px;
  font-family: 微软雅黑,sans-serif;
}
.divider-row{
  background-color: #dcdfe6;
  margin-top: 10px;
  height: 2px;
  display: inline-block;
  width: 100%;
  margin-bottom: 5%;
}
.more-news{
  border: 1px solid #dfdbdb;
  font-family: 微软雅黑,sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 20px;
  bottom: 60%;
  border-radius: 2px;
  text-decoration: none;
  padding: 5px 8px;
  display: flex;
  width: fit-content;
}
.container-team{
  margin-left:10%;
  margin-right: 10%;
}
.teamp{
  font-size: 13px;
  line-height: 24px;
  text-indent: 2em;
  font-family: "微软雅黑",sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #999;
  text-align: left;
}
.teamp1{
  font-size: 13px;
  line-height: 24px;
  font-family: "微软雅黑",sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #999;
  text-align: left;
}
.more-team{
  border: 1px solid #dfdbdb;
  font-family: 微软雅黑,sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 2px;
  text-decoration: none;
  padding: 5px 8px;
  display: flex;
  width: fit-content;
}
.container-contact{
  margin-left:10%;
  margin-right: 10%;
}
.lastest{
  background-color: #999;
}
.container-head{
  margin-left:10%;
  margin-right: 10%;
}
.container-aus{
  margin-left:3%;
  margin-right: 3%;
}
.titleabout{
  letter-spacing: .04em;
  text-align: left;
  color: #666;
  margin-bottom: 10px;
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: 800;
}
.pabout{
  font-size: 16px;
  letter-spacing: .1em;
  color: #333;
  margin-bottom: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titlepeople{
  letter-spacing: .04em;
  text-align: left;
  color: #000;
  margin-bottom: 10px;
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 800;
}
.card-text-team{
  font-family: 微软雅黑,sans-serif;
  font-size: 10px;
  margin-top: 0%;
  margin-bottom: 10%;
  color: #999;
  
}
.card-title-team{
  font-family: "微软雅黑",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    color: #666;
}
.card-body-team{
  display: flex;
  flex-direction: column;
}
.english-team {
  color: #999;
  font-size: 16px;
  font-family: "微软雅黑",sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
.img-box-team{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

}
.timeplace{
  border: 1px solid #cecaca;
  border-radius: 0;
  text-align: center;
  margin-top: 20px;
}
.divider-report{
  background-color: #1a9ef7;
  margin-top: 10px;
  height: 21px;
  display: inline-block;
  width: 5px;
  margin-left: 50%;
}
.divider-row-report{
  background-color: #dcdfe6;
  margin-top: 10px;
  height: 2px;
  display: inline-block;
  width: 900px;
  margin-bottom: 5%;
}







.page-link {
  border: none;
  font-size: 13px;
  background-color:   rgb(245, 245, 245) ;
}
.page-item{
  font-size: 13px;
}










.photo{
  width: 100%;
  height: 361px;
  overflow: hidden;
  position: relative;
  top: 78px;
  left: 0;
}
.photo .img:nth-child(2n-1){
  width: 389px;
  height: 230px;
  position: absolute;
}
.photo .img:first-child{
  top: 25px;
  left:0;
}
.photo .img:first-child::after {
  content: '';
  width: 389px;
  height: 230px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
}
.photo .img:last-child{
  top: 25px;
  left:991px;
}
.photo .img:last-child::after {
  content: '';
  width: 389px;
  height: 230px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
}
.photo .img:nth-child(2) {
  width: 600px;
  height: 295px;
  position: absolute;
  top: 0;
  left: 390px;
}
.img img{
  width: 100%;
  height: 100%;
}
.photo .img:last-of-type {
  overflow: hidden;
}

.underline {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 381px;
  left: 13px;
}
.underline div{
  width: 30px;
  height: 2px;
  background-color: gray;
  float: left;
  margin-left: 8px;
  border-radius: 1px;
}
.underline div:first-child{
  margin-left: 585px;
}